body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f4f4f4;
}

#scratch-container {
    position: relative;
    display: inline-block;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
}

#discount {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-align: center;
    width: 100%;
    line-height: 300px; /* Centrer verticalement */
    background-color: white; /* Fond blanc pour assurer la visibilité */
}
