body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#scratch-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

#discount {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 1;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    cursor: crosshair;
    z-index: 2;
}

#email-form {
    margin-top: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
